doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Noom
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    
  body 
    header 
      h1 Noom
    main
      //- nickname form
      form#nick 
        input(type = 'text', placeholder = 'choose a nickname', required) 
        button Save
      //- 메시지 리스트가 생길 곳
      ul
      //- message form
      form#message
        input(type = 'text', placeholder = 'write a msg', required)
        button send
    script(src="/public/js/app.js")